body {
    font-family: Calibri, sans-serif;
    background-color: #000000;
    color:#ffffff;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
 /* SUMO */
#error-message {
    text-align: center;
}
.bf-controls {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 4;
    left: 20px;
    top: calc(50% - 20vmin);
}
.lr-controls {
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 3;
    right: 20px;
    top: calc(50% - 10vmin);
}
.go {display:none;}
.stop, .go {
    position: fixed;
    z-index: 2;
    bottom: 20px;
    left: calc(50% - 10vmin)
}
.backwards, .forwards, .left, .right {
    fill: #ffffff;
}
#forwardButton, #backButton, #leftButton, #rightButton, .stop, .go {
    width: 20vmin;
    height: 20vmin;
}

/* HERMIONE */

#terminal  {
    color: #eeeeee;
    text-shadow: 1px 1px #666666;
    background-color: transparent;
    width: 80vmin;
    height: 150px;
    position: fixed;
    bottom: calc( 5vmin - 10px);
    padding: 5px;
}
#movementDisplay {
    text-align: center;
    width: 20vmin;
    display: flex;
    position: fixed;
    left: calc(100% - 18vmin);
    bottom: 5vmin;
}


@media screen and (min-width: 640px) {

    /* SUMO */

    .stop, .go {
        display:none;
    }
    .bf-controls {
        left: calc(100% - 18vmin);
        top: auto;
        bottom: 5vmin;
    }
    .lr-controls {
        left: calc(100% - 23vmin);
        top:auto;
        bottom: 10vmin;
    }
    #forwardButton, #backButton, #leftButton, #rightButton {
        width: 10vmin;
        height: 10vmin;
    }
}

